@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

/*=======================
       Global Styles
========================*/

:root {
  --color-primary: #474550;
  --color-secondary: #f86f4c;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  overflow-x: hidden;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-weight: 400;
}

.main-container {
  margin-bottom: 10rem;
}

/*=======================
       HEADER
========================*/

#header {
  margin-top: 1rem;
  padding-block: 3rem;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 20px black;
  width: 50%;
  max-width: 65rem;
  min-width: 48rem;
  margin-inline: auto;
}

.header__title {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  position: relative;
  width: 100%;
  color: white;
}

/*=======================
          NAV
========================*/

#nav {
  padding-block: 3rem;
  padding-bottom: 6rem;
  display: grid;
  place-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  width: 100%;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  color: white;
}

.nav__list--link {
  font-size: 2.3rem;
  cursor: pointer;
  position: relative;
}

.nav__list--link div {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.nav__list--link div.underline {
  border-bottom: 1px solid var(--color-secondary);

  opacity: 1;
  width: 70%;
  margin-inline: auto;
}

.divider {
  border-right: 1px solid hsl(211, 12%, 48%);
  height: 4rem;
}

/*=======================
         PROJECTS
========================*/

#projects {
  display: grid;
  place-items: center;
  margin-inline: auto;
  row-gap: 3rem;
  width: 85%;
}

.projects__box {
  width: 40rem;
  height: 35rem;
  display: grid;
  place-items: center;
  margin-bottom: 8rem;
}

.projects__headings {
  text-align: center;
  font-family: "Paytone One", sans-serif;
  font-size: 2rem;
  width: 70%;
  padding-top: 1rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.projects__thumbnails {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  cursor: pointer;
}

#projects .desktop-img {
  height: 25rem;
  width: 100%;
  box-shadow: 10px 15px 15px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.projects__links-box {
  width: 60%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.projects__links {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  border: 1px solid var(--color-secondary);
  padding: 1rem;
  cursor: pointer;
}

.projects__links:hover {
  background-color: var(--color-secondary);
}

/*=======================
         ABOUT ME
========================*/

#about-me {
  margin-top: 3rem;
  width: 100%;
  position: relative;
  display: none;
}

.about-me__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 4rem;
  width: 70%;
  margin-inline: auto;
  position: relative;
}

.about-me__info {
  text-align: center;
  font-size: 1.7rem;
  color: white;
}

.about-me__skills {
  font-size: 5rem;
  color: black;
  display: flex;
  justify-content: center;
  margin-block: 5rem;
  gap: 2rem;
}

.about-me__skills .fa-brands {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
  position: relative;
  z-index: 1;
}

.about-me__img-container {
  width: 30rem;
  height: 30rem;
  position: relative;
}

.about-me__img-container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color-secondary);
  top: 6%;
  left: 6%;
  border-radius: 2rem;
  z-index: -1;
}

.about-me__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 2rem;
}

/*=====================================
              FOOTER
=====================================*/

#footer {
  margin-top: 10rem;
  padding-block: 1rem;
  width: 100%;
  background: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer__email {
  font-size: 1.8rem;
  max-width: 30rem;
}

.footer__email .fa-envelope {
  font-size: 2rem;
  color: var(--color-secondary);
}

/*=====================================
              KEYFRAMES
=====================================*/

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/*=====================================
              MEDIA QUERIES
=====================================*/

/*---------------------------------
          MIN WIDTH: 700px 
-----------------------------------*/

@media only screen and (min-width: 700px) {
  .about-me__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 10%;
    width: 80%;
    height: 40rem;
  }

  .about-me__info {
    text-align: left;
    min-width: 30rem;
    width: 50%;
  }

  .about-me__img-container {
    margin-top: -5rem;
    min-width: 28rem;
  }

  .about-me__skills {
    justify-content: start;
    margin-top: 6rem;
  }

  .footer__skills {
    font-size: 5rem;
    color: black;
    display: flex;
    justify-content: center;
    width: 18rem;
    gap: 2rem;
  }

  .footer__email {
    font-size: 2rem;
  }

  .footer__email .fa-envelope {
    font-size: 3rem;
  }
}

/*---------------------------------
          MIN WIDTH: 1100px 
-----------------------------------*/

@media only screen and (min-width: 1100px) {
  #projects {
    margin-inline: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    min-width: 105rem;
    row-gap: 6rem;
  }

  .projects__thumbnails {
    position: relative;
  }

  .about-me__info {
    max-width: 50rem;
  }
}
